{% extends 'base.html.twig' %}
{# View/patient/index.html.twig #}

{% block title %} Title {% endblock %}

{% block body %}
    <div class="container">
        Hello Patient
    </div>
{% endblock %}
