{% extends 'base.html.twig' %}
{# View/patient/index.html.twig #}

{% block title %} Title {% endblock %}

{% block stylesheets %}
    {# Ajouter votre style si nécessaire #}
{% endblock %}
{% block body %}
    <div class="container">
        Hello Soignant
    </div>
{% endblock %}
